[submodule "AuthServerDatabase"]
	path = AuthServerDatabase
	url = https://github.com/sonalisingh96/AuthServerDatabase
[submodule "AuthServer"]
	path = AuthServer
	url = https://github.com/sonalisingh96/AuthServer
